body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
  }
  .hero-image {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-image: url("../images/Banner Image.png");
    /* background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
  }

  .hero-text-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;  
  }

  .hero-text{
    color: #FFF;
    font-style: normal;
    font-weight: 900;
    /* line-height: 95px; */
  }
  .hero-text h1{
    font-size: 72px;
    font-weight: 400;
    font-family: 'Merriweather';
  }

  .hero-text h5{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Merriweather';
  }

  .offer{
    text-align: center;
    font-family: Inter;
    /* font-size: 48px; */
    font-style: normal;
  }

  .offer > h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .offer > h5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

  }

  .offer > h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .party-image{
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
    display: flex;
    /* justify-content: space-between; */
  }

  .party-text-container{
    justify-content: space-between;
  }

  .party-image-2{
    width: 500px;
  }

  .party-text{
    max-width: 500px;
  }

  .party-greeting{
    /* font-size: 45px; */
    /* color: #070211; */
    margin-bottom: 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
  }

  .party-description{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  } 

  .party-join{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }



